@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

/* body{
    overflow: hidden;
} */

header{
    min-height: 100vh;
    display: grid;
    place-content: center;
}

.stack{
    margin-block-end: 2rem;
    perspective: 1200px;
    view-timeline-name: --cards;
    view-timeline-axis: block;
     
    .card{
        position: sticky;
        top: calc(var(--i) * 40px);
        transform-style: preserve-3d;
        width: min(750px, 50%);
        height: 480px;
        margin: 0 auto;
        border-radius: .8rem;
        overflow: hidden;
        animation: stack 1s linear both;
        animation-timeline: --cards;
        animation-range: entry 0% exit 50%;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .info{
            position: absolute;
            inset: auto 0 0 0;
            padding: 30px;
            background-color: rgba(0, 0, 0, 0.151);
            backdrop-filter: blur(10px);
        }
    }
}

@keyframes stack {
            0%{
                transform: translateY(0) translateZ(0) rotateX(0) scale(1);
            }

            35%{
                transform: translateY(100px) translateZ(-200px) rotateX(8deg) scale(.92);
            }

            75%{
                transform: translateY(20px) translateZ(-120px) rotateX(2deg) scale(.95);
            }

            100%{
                transform: translateY(0) translateZ(0) rotateX(0) scale(1);
            }
    }